.input-field {
    display: flex;
    align-items: baseline;
    input[type=text] {
        width: 75%;
        padding: .5em;
        &.sml {
            width: 32.5%;
            margin-right: .9375em;
        }
    }
}